body {
    background: rgb(19, 14, 24);
    color: #faefef;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
img{
    max-width: 100%;
}
 /*----------heared--------------*/
.navbar-custom {
    background: transparent;
    min-height: auto;
    border-bottom: none;
}
.size {
    word-spacing: normal;

}
 /*----------search--------------*/
.search-box {
    text-align: left;
}
 /*----------heared--------------*/
.infomovie-underline {
    text-decoration: underline;

}
.row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}
.fon-bg {
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.style__text {
    color: #fff;
}

.container {
    max-width: 1140px;
    padding: 70px 15px;
    width: 100%;
    margin: 0 auto;
}

.info__parametr {
    display: flex;
    align-items: center;
    padding: 50px 0 70px;
}

.infomovie-img {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.col-9 {
    width: 60%;
    padding: 0 15px;
}

.col-2 {
    max-width: 15%;
    padding: 0 5px;
    text-align: left;
}

.actor__name {
    font-size: 16px;
}
.actor-character {
    color: black;
}
.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px lightgrey;
}
.rec.rec-arrow:hover {
    border-radius: 50%;
}
.box {
    transition: .4s;
   border: inherit ;
    text-align: center;
    border-radius: 4px;

}
.movies-radius {
    border-radius: 4px 4px 0 0;
}

.box:hover {
    box-shadow: 0 0 15px 10px #494747;
    color: white;
}
.search-value-img {
    width: 100px;
    height: 120px;
}
.rating{
    text-align: right;
}


